* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1.3fr 1.2fr 0.5fr;
   gap: 0px 0px;
   grid-auto-flow: row;
   grid-template-areas:
      "header header header header"
      "area1 area1 area1 area1"
      "area2 area2 area2 area2"
      "footer footer footer footer";
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   ;


}

.header {
   grid-area: header;
   text-align: center;
   color: rgb(168, 16, 16);

}

.logo_industry {
   display: flex;
   margin: auto;
   padding: 10px;

}

.socialbar {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 40px;
   margin-left: 30px;
   display: flex;
   list-style: none;
}



.socialbar a img {
   width: 50px;
   height: 50px;
   display: block;
   padding: 3px;
   margin: auto;
}

.socialbar a:hover img {
   transform: scale(1.2);
}

.menu_principal {
   color: rgb(168, 16, 16);
   list-style-type: none;
   display: flex;
   text-decoration: none;
   margin: 5px auto;
   justify-content: center;
}

.menu_principal a {

   color: rgb(168, 16, 16);
   list-style-type: none;
   text-decoration: none;
   margin: 10px;
   justify-content: center;

}

.menu:hover a {
   color: black;
   transform: scale(1.1);

}



.dropdown-content {
   display: none;
   position: absolute;
}


.dropbtn:hover .dropdown-content {
   color: black;
   display: block;
}

.submenu {
   list-style-type: none;
   text-decoration: none;
   margin: 10px;
}

.submenu:hover a {
   color: black;
   transform: scale(1.2);
}




@media only screen and (max-width: 850px) {
   .socialbar {
      display: block;
      width: 50%;
      height: 50%;

   }

   .socialbar a {
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;

   }

}


@media only screen and (max-width: 650px) {

   .logo_industry img {
      background-image: url(../assets/img/symbol_ind.png
);
      background-repeat: no-repeat;
      
   }

}

.area1 {
   grid-area: area1;
}

.area2 {
   grid-area: area2;
}

.footer {
   grid-area: footer;
}