<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap"
    rel="stylesheet">
  <link rel="icon" href="../assets/img/icon/favicon.ico">
  <link rel="stylesheet" href="../css/style.css">
  <title>Categorias</title>
</head>

<body>
  <h1>Categorias</h1>
  <header class="header">
    <div class="socialbar">
      <a href="#"><img src="../assets/img/icon/facebook2.png" alt="Facebook"></a>
      <a href="#"><img src="../assets/img/icon/instagram2.png" alt="Instagram"></a>
      <a href="#"><img src="../assets/img/icon/whatsapp2.png" alt="Whatsapp"></a>
    </div>
    <div>
      <a href="../index.html"><img class="logo_industry" src="../assets/img/industryNC2.png" alt="symbol industry"></a>
      <a class="symbol_ind" href="../index.html"><img class="symbol_industry" src="../assets/img/symbol_ind.png"
          alt="symbol industry"></a>
    </div>
    <ul class="menu_principal">
      <li class="dropbtn">Colecciones
        <ul class="dropdown-content">
          <li class="submenu"><a href="./summer.html">Summer '23</a></li>
          <li class="submenu"><a href="./winner.html">Winner '23</a></li>
      </li>
    </ul>
    <li class="menu"><a href="./categorias.html">Categorias</a></li>
    <li class="menu"><a href="./niños.html">Kids</a></li>
    <li class="menu"><a href="./giftcard.html">Giftcard</a></li>
    </ul>
  </header>

  <main class="container">
  </main>

</html>