<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap"
    rel="stylesheet">
  <link rel="icon" href="../assets/img/icon/favicon.ico">
  <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
rel="stylesheet"
/>
  <link rel="stylesheet" href="../css/style.css">
  <title>Gift Card</title>
</head>

<body>
  <h1>Giftcard</h1>
  <header class="header">
    <div class="socialbar">
      <a href="#"><img src="../assets/img/icon/facebook2.png" alt="Facebook"></a>
      <a href="#"><img src="../assets/img/icon/instagram2.png" alt="Instagram"></a>
      <a href="#"><img src="../assets/img/icon/whatsapp2.png" alt="Whatsapp"></a>
    </div>
    <div>
      <a href="../index.html"><img class="logo_industry" src="../assets/img/industryNC2.png" alt="symbol industry"></a>
      <a class="symbol_ind" href="../index.html"><img class="symbol_industry" src="../assets/img/symbol_ind.png"
          alt="symbol industry"></a>
    </div>
    <ul class="menu_principal">
      <li class="dropbtn">Colecciones
        <ul class="dropdown-content">
          <li class="submenu"><a href="./summer.html">Summer '23</a></li>
          <li class="submenu"><a href="./winner.html">Winner '23</a></li>
      </li>
    </ul>
    <li class="menu"><a href="./categorias.html">Categorias</a></li>
    <li class="menu"><a href="./niños.html">Kids</a></li>
    <li class="menu"><a href="./giftcard.html">Giftcard</a></li>
    </ul>
  </header>
  <main>
  </main>
  <footer class=" footer text-center text-lg-start bg-white text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Puedes encontrarnos en nuestras redes sociales:</span>
      </div>
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>industry nc inc.
            </h6>
            <p>
              Indumentaria y Accesorios Masculinos
              Niños y Adultos -
              Since 1992
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Sucursales
            </h6>
            <p>
              La Plata: 
                      12 N° 1262 e/57 y 58 Tel: 425-6656.         
                      8 e/47 y 48 Tel: 221-526-8118.
                      8 e/49 y 48 Tel 221-424-0733.
              Pehuajó: 
                      Aristóbulo Del Valle 334 Tel: 2396 487400
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Buenos Aires, Pehuajo 6450, Aristóbulo Del Valle 344, ARG</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              industrypehuajo@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 054 11 231 593 70</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 054 2396 487400</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://industryNC.com/">industrync.com</a>
    </div>
  </footer>
</body>

</html>