<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locales</title>
</head>

<body>
    <header>
        <h1>Locales</h1>
        <nav>
            <ul class="menu_principal">
                <li class="menu"><a href="./categorias.html">Colecciones</a></li>
                <ul class="submenu">
                    <li class="submenu_col"><a href="./summer.html">Verano 23</a></li>
                    <li class="submenu_col"><a href="./winner.html">Invierno 23</a></li>
                </ul>
                <li class="menu"><a href="./categorias.html">Categorias</a></li>
                <li class="menu"><a href="./niños.html">Niños</a></li>
                <li class="menu"><a href="./giftcard.html">Giftcard</a></li>
            </ul>
        </nav>>
    </header>

</body>

</html>