<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Summer</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Summer</h1>
  <header class="header">
    <div>
        <a href="../index.html"><img class="logo_industry" src="../assets/img/industryNC2.png"
                alt="symbol industry "></a>
        <a class="symbol_ind" href="../index.html"><img class="symbol_industry" src="../assets/img/symbol_ind.png"
                alt="symbol industry"></a>
    </div>
    <div class="socialbar">
        <a href="https://www.facebook.com/profile.php?id=100090055393669"><img
                src="../assets/img/icon/facebook2.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/industrypehuajo/"><img src="../assets/img/icon/instagram2.png"
                alt="Instagram"></a>
        <a href="https://wa.me/c/5492396579798"><img src="../assets/img/icon/whatsapp2.png" alt="Whatsapp"></a>
    </div>
    <ul class="menu_principal">
        <li class="dropbtn">Colecciones
            <ul class="dropdown-content">
                <li class="submenu"><a href="./summer.html">Summer '23</a></li>
                <li class="submenu"><a href="./winner.html">Winner '23</a></li>
        </li>
    </ul>
    <li class="menu"><a href="./categorias.html">Categorias</a></li>
    <li class="menu"><a href="./niños.html">Kids</a></li>
    <li class="menu"><a href="./giftcard.html">Giftcard</a></li>
    </ul>
</header>
	
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>